{% extends 'base.html' %}

{% block title %}
    Session - {{ session }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="slice slice-1">
      {{ user }}
    </div>
    <div class="slice slice-2">
      Videos
    </div>
    <div class="slice slice-3">
      String/Blob
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const user = "{{ user }}";
    const session = "{{ session }}";
    let usersInSession = [];

    const socket = io({autoConnect: false, "sync disconnect on unload": true});
    socket.connect();

    socket.emit("join", {user: user, session: session});

    socket.on("setup_channel", data => {
      console.log(data);
    });
  </script>
{% endblock %}